doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		// Mobile viewport optimized
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no')
		// Meta Tags - Description for Search Engine purposes
		meta(name='description', content='BeVisible | Job Board')
		meta(name='keywords', content='BeVisible job board, job listing, job portal, job postings, jobs, recruiters, recruiting, recruitment')
		meta(name='author', content='BeVisible')
		// Website Title
		title BeVisible | Employer Login
		link(rel='shortcut icon', href='images/favicon.png', type='image/x-icon')
		link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon.png')
		// Google Fonts
		link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,800|Varela+Round', rel='stylesheet')
		// CSS links
		link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/owl.carousel.min.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='stylesheet', type='text/css', href='css/responsive.css')
		link(rel='stylesheet', type='text/css', href='css/animate.css')
		// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		// =============== Start of Header 1 Navigation ===============
		header.header1
			nav.navbar.navbar-default.navbar-static-top.fluid_header.centered
				.container
					// Logo
					.col-md-2.col-sm-6.col-xs-8.nopadding
						a.navbar-brand.nomargin(href='index.html')
							img(src='images/logo.png', alt='logo')
						// INSERT YOUR LOGO HERE
					// ======== Start of Main Menu ========
					.col-md-10.col-sm-6.col-xs-4.nopadding
						.navbar-header.page-scroll
							button.navbar-toggle.toggle-menu.menu-right.push-body(type='button', data-toggle='collapse', data-target='#main-nav', aria-expanded='false')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
						// Start of Main Nav
						#main-nav.collapse.navbar-collapse.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
							ul.nav.navbar-nav.pull-right
								// Mobile Menu Title
								li.mobile-title
									h4 main menu
								// Simple Menu Item
								li.dropdown.simple-menu
									a.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
										| home
								// Login Menu Item
								li.menu-item.login-btn
									a#modal_trigger(href='javascript:void(0)', role='button')
										i.fa.fa-lock
										| login
						// End of Main Nav
					// ======== End of Main Menu ========
		// =============== End of Header 1 Navigation ===============
		// =============== Start of Page Header 1 Section ===============
		section.page-header
			.container
				// Start of Page Title
				.row
					.col-md-12
						h2 Corporate Account
				// End of Page Title
				// Start of Breadcrumb
				.row
					.col-md-12
						ul.breadcrumb
							li
								a(href='#') home
							li.active login
				// End of Breadcrumb
		// =============== End of Page Header 1 Section ===============
		// ===== Start of Login - Register Section =====
		section#login.ptb80
			.container
				.col-md-6.col-md-offset-3.col-xs-12
					// Start of Login Box
					.login-box
						.login-title
							h4 Login
						// Start of Login Form
						form#loginForm(method='post')
							// Form Group
							input(type="hidden", name="_csrf", value=csrfToken)
							.form-group
								label Email
								input.form-control(name='email', type='email', placeholder='recruiter@company.com')
							// Form Group
							.form-group
								label Password
								input.form-control(name='password', type='password', placeholder='•••••••••••••')
							// Form Group
							.form-group
								.row
									.col-xs-6
										input#remember-me2(type='checkbox')
										label(for='remember-me2') Remember me?
									.col-xs-6.text-right
										a(href='lost-password.html') Forgot password?
							// Form Group
							.form-group.text-center
								button#submitButton.btn.btn-red.btn-effect Login
								a.btn.btn-red.btn-effect(href='registration') signup
						// End of Login Form
					// End of Login Box
		// ===== End of Login - Register Section =====
		// =============== Start of Footer 1 ===============
		footer.footer1
			// ===== Start of Footer Copyright Section =====
			.copyright.ptb40
				.container
					.col-md-6.col-sm-6.col-xs-12
						span
							| Copyright ©
							a(href='#') BeVisible
							| . All Rights Reserved
					.col-md-6.col-sm-6.col-xs-12
						// Start of Social Media Buttons
						ul.social-btns.list-inline.text-right
							// Social Media
							li
								a.social-btn-roll.facebook(href='#')
									.social-btn-roll-icons
										i.social-btn-roll-icon.fa.fa-facebook
										i.social-btn-roll-icon.fa.fa-facebook
							// Social Media
							li
								a.social-btn-roll.twitter(href='#')
									.social-btn-roll-icons
										i.social-btn-roll-icon.fa.fa-twitter
										i.social-btn-roll-icon.fa.fa-twitter
							// Social Media
							li
								a.social-btn-roll.google-plus(href='#')
									.social-btn-roll-icons
										i.social-btn-roll-icon.fa.fa-google-plus
										i.social-btn-roll-icon.fa.fa-google-plus
							// Social Media
							li
								a.social-btn-roll.instagram(href='#')
									.social-btn-roll-icons
										i.social-btn-roll-icon.fa.fa-instagram
										i.social-btn-roll-icon.fa.fa-instagram
							// Social Media
							li
								a.social-btn-roll.linkedin(href='#')
									.social-btn-roll-icons
										i.social-btn-roll-icon.fa.fa-linkedin
										i.social-btn-roll-icon.fa.fa-linkedin
							// Social Media
							li
								a.social-btn-roll.rss(href='#')
									.social-btn-roll-icons
										i.social-btn-roll-icon.fa.fa-rss
										i.social-btn-roll-icon.fa.fa-rss
						// End of Social Media Buttons
			// ===== End of Footer Copyright Section =====
		// =============== End of Footer 1 ===============
		// ===== All Javascript at the bottom of the page for faster page loading =====
		script(src='js/vendors/jquery-3.1.1.min.js')
		script(src='js/vendors/bootstrap.min.js')
		script(src='js/vendors/bootstrap-select.min.js')
		script(src='js/vendors/swiper.min.js')
		script(src='js/vendors/jquery.ajaxchimp.js')
		script(src='js/vendors/jquery.countTo.js')
		script(src='js/vendors/jquery.inview.min.js')
		script(src='js/vendors/jquery.magnific-popup.min.js')
		script(src='js/vendors/jquery.easypiechart.min.js')
		script(src='js/vendors/jquery-ui.min.js')
		script(src='js/vendors/owl.carousel.min.js')
		script(src='js/vendors/tinymce/tinymce.min.js')
		script(src='js/vendors/countdown.js')
		script(src='js/vendors/isotope.min.js')
		script(src='js/vendors/custom.js')

		script(src='js/classes/form-view-controller.js')
		script(src='js/classes/text-input-view-controller.js')
		script(src='js/classes/email-input-view-controller.js')
		script(src='js/classes/password-input-view-controller.js')

		script(src='js/view_controllers/login-view-controller.js')
