extends base

block vars
  - var title = 'Email'
block body
    body.login
        .container
            form(method='post').form-signin
                input(type='hidden', name='_csrf', value=csrfToken)
                img#logo(src='images/cognilab.png', alt='cognilab')
                label.sr-only(for='inputEmail') Email address
                input#inputEmail.form-control(name='email' type='email', placeholder='email@email.com', required=true, autofocus=true)
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
                br
                p
                    a(href="/register") Create an account
                    ignored &nbsp;or&nbsp;
                    a reset password
                if error
                    br
                    p.error.shake #{error}
    script(src='javascripts/view_controllers/password-confirm-view-controller.js')
