body {
	font-family:'Roboto',sans-serif;
	box-sizing:border-box;
	padding:0px;
	margin:0px;
}

.left-pannel {
	border-right:1px solid #d7d8e1;
	box-sizing:border-box;
	width:100%;
}

.roladex-header {
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
}

.roladex-header-text {
	text-align:center;
	font-weight:600;
	font-size:2em;
	padding:22px;
	color:black;
	margin:0px;
}

.roladex-header-add-contact-button {
	background-color:transparent;
	border-radius:1em;
	position:absolute;
	line-height:2em;
	font-weight:300;
	cursor:pointer;
	font-size:2em;
	color:#1679f4;
	padding:0px;
	border:none;
	height:2em;
	width:2em;
	left:80%;
	top:6px;
}

.roladex-tab {
	border-bottom:3px solid gray;
	display:inline-block;
	cursor:pointer;
	width:50%;
}

.roladex-tab-selected {
	border-bottom:3px solid #1679f4;
	display:inline-block;
	cursor:pointer;
	width:50%;
}

.roladex-tab-text {
	text-align:center;
	font-size:1.2em;
	color:gray;
}

.roladex-tab-text-selected {
	text-align:center;
	font-size:1.2em;
	color:#1679f4;
}


.roladex-search-container {
	background-color:#fbfaff;
	position:relative;
	height:88px;
	width:100%;
}

.roladex-search-input {
	border: 1px solid #e4e0e1;
	width:calc(100% - 66px);
	border-radius:10px;
	margin-left:22px;
	text-indent:28px;
	margin-top:22px;
	font-size:1.2em;
	padding:11px;
}

.roladex-search-input-left-icon {
	position:absolute;
	cursor:default;
	color:#757575;
	left:35px;
	top:37px;
}

.roladex-search-input-right-icon {
	position:absolute;
	color:lightGray;
	cursor:pointer;
	right:35px;
	top:37px;
}

.contact-list-divider{
	background-color:#f3f3f3;
	padding-bottom:0.25em;
	box-sizing:border-box;
	padding-top:0.25em;
	padding-left:22px;
	font-size:1.5em;
	font-weight:700;
	color:#000;
	margin:0px;
	width:100%;
}

.contact-list-person-container {
	border-bottom:1px solid #f3f3f3;
	background-color:white;
	cursor:pointer;
	width:100%;
}

.selected {
	border-left:5px solid #2681f5;
}

.contact-list-person-primary-text {
	display:inline-block;
	padding-left:22px;
	font-size:1.5em;
	font-weight:700;
}

.contact-list-person-secondary-text {
	display:inline-block;
	padding-left:8px;
	font-size:1.5em;
	font-weight:300;
}

.contact-list-message-text {
	color:#838383;
	text-align:center;
	font-size:1.5em;
	font-weight:300;
}

.ui-contact-card-container {
	border: 1px solid #d7d8e1;
	background-color:white;
	margin:5%;
	width:90%;
}

.right-pannel {
	display: none;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

	.left-pannel {
		box-sizing:border-box;
		overflow:scroll;
		height:100vh;
		float:left;
		width:35%;
	}

	.right-pannel {
		background-color:#e8ebf2;
		box-sizing:border-box;
		display: inline;
		overflow:scroll;
		font-size:1em;
		height:100vh;
		float:right;
		width:65%;
	}

	.ui-contact-card-container {
		border: 1px solid #d7d8e1;
		width:calc(100% - 44px);
		background-color:white;
		margin:22px;
	}

	.contact-card-header {
		border-bottom:1px solid #f3f3f5;
		background:#fbfaff;
		cursor:default;
		padding:0px;
		width:100%;
		margin:0px;
	}

	.contact-card-header-left-button {
		visibility:hidden;
		padding-left:44px;
		padding-top:33px;
		font-size:1.25em;
		cursor:pointer;
		color:#1c7ef8;
		float:left;
		margin:0px;
	}

	.contact-card-header-right-button {
		padding-right:44px;
		padding-top:33px;
		font-size:1.25em;
		cursor:pointer;
		color:#1c7ef8;
		float:right;
		margin:0px;
	}

	.contact-card-name {
		text-align:center;
		padding-top:88px;
		font-size:2em;
		margin:0px;
	}

	.contact-card-last-updated {
		padding-bottom:11px;
		text-align:center;
		padding-top:5px;
		font-weight:300;
		font-size:1em;
		color:#808080;
		margin:0px;
	}

	.contact-card-action-container {
		justify-content: center;
		padding-bottom:44px;
		display: flex;
	}

	.contact-card-action-button {
		background-color:#1c7ef8;
		border-radius:2em;
		margin-left:14px;
		cursor:pointer;
		margin:22px;
		height:4em;
		width:4em;
	}

	.contact-card-action-icon {
		vertical-align:center;
		text-align:center;
		line-height:2em;
		color:white;
		height:100%;
		width:100%;
	}

	.contact-card-action-text {
		font-family:'Roboto',sans-serif;
		text-align:center;
		margin-top:10px;
		font-size:1em;
		cursor:default;
		color:#1c7ef8;
		padding:0px;
	}

	.contact-info-container {
		width:calc(50% + 60px);
		padding-bottom:22px;
		padding-left:55px;
		font-size:1.4em;
		padding-top:22px;
		cursor:default;
		margin:0px;
	}

	.contact-info-action-text {
		color:#3989e0;
		cursor:pointer;
	}

	.contact-info-divider {
		border: 1px solid #f3f3f5;
	}

	.contact-info-emergency-header {
		color:lightGray;
	}

	.contact-info-emergency-action-text {
		padding-bottom:22px;
		cursor:pointer;
		color:#fc3d39;
	}

}




@media screen and (min-width: 1024px) {

	.left-pannel {
		display: inline-block;
		box-sizing:border-box;
		overflow:scroll;
		height:100vh;
		float:left;
		width:30%;
	}

	.right-pannel {
		background-color:#e8ebf2;
		box-sizing:border-box;
		display: inline-block;
		overflow:scroll;
		font-size:1em;
		height:100vh;
		float:right;
		margin:0px;
		width:70%;
	}

	.contact-card-container {
		box-sizing:border-box;
		border: 1px solid #d7d8e1;
		margin:7%;
		width:86%;
	}

	.contact-card-header {
		border-bottom:1px solid #f3f3f5;
		box-sizing:border-box;
		background:#fbfaff;
		cursor:default;
	}

	.contact-card-header-left-button {
		visibility:hidden;
		padding-left:44px;
		padding-top:33px;
		font-size:1.5em;
		cursor:pointer;
		color:#1c7ef8;
		float:left;
		margin:0px;
	}

	.contact-card-header-right-button {
		padding-right:44px;
		padding-top:33px;
		font-size:1.5em;
		cursor:pointer;
		color:#1c7ef8;
		float:right;
		margin:0px;
	}

	.contact-card-name {
		text-align:center;
		padding-top:33px;
		font-size:3em;
		margin:0px;
	}

	.contact-card-last-updated {
		padding-bottom:11px;
		text-align:center;
		padding-top:5px;
		font-weight:300;
		font-size:1.25em;
		color:#808080;
		margin:0px;
	}

	.contact-card-action-container {
		justify-content: center;
		padding-bottom:44px;
		display: flex;
	}

	.contact-card-action-button {
		background-color:#1c7ef8;
		border-radius:2em;
		cursor:pointer;
		margin:22px;
		height:4em;
		width:4em;
	}

	.contact-card-action-icon {
		vertical-align:center;
		text-align:center;
		line-height:2em;
		color:white;
		height:100%;
		width:100%;
	}

	.contact-card-action-text {
		font-family:'Roboto',sans-serif;
		text-align:center;
		margin-top:10px;
		font-size:1.25em;
		cursor:default;
		color:#1c7ef8;
		padding:0px;
	}

	.contact-info-container {
		box-sizing:border-box;
		padding-left:55px;
		font-size:1.6em;
		cursor:default;
		margin:0px;
		width:86%;
	}

	.contact-info-action-text {
		color:#3989e0;
		cursor:pointer;
	}

	.contact-info-divider {
		border: 1px solid #f3f3f5;
	}

	.contact-info-emergency-header {
		color:lightGray;
	}

	.contact-info-emergency-action-text {
		padding-bottom:22px;
		cursor:pointer;
		color:#fc3d39;
	}
}
